<div style="max-width:600px;display:block;margin:0 auto;">
	<h1 style="display:none!important;">RECUPERAR CONTRASEÑA</h1>
	<table width="100%" style="border: #fff solid 0px; margin-left: auto; margin-right: auto;">
        <thead style="width:100%;">
			<tr style="border: #fff solid 0px;">
		  		<th style="height:150px; background-color:black; padding-right:20px;">
                    <p style="text-transform: uppercase;font-weight: 600; font-size: 18px; color: white;">COBUILD</p>
		  			
		  		</th>
			</tr>
		</thead>
		<tfoot>
		<tr style="border: #fff solid 0px;text-align: center;">
		  	<td>
		  		<p style="color: black;  font-size: 8px; font-weight: 100;">
                </p>
			</td>
		</tr>
		
		</tfoot>
		<tbody style="background: #fff; color: gray; font-weight: 100;">
			
            <tr>
		  		<td style="padding: 18px;"> 
                    
                      <p style="text-align: left; font-size: 15px;padding-top:15px;">
                        Hola *|USER|*,
                      </p>
                    

		  			<p style="font-size: 12px; color:gray; text-align: center;">
                        Hemos recibido tu petición de recuperar contraseña 
		  			</p>
                    <p style="text-align:center; font-size:12px; padding:18px; color:gray;">
                        <a style="background-color:#ff471a;color:white;text-decoration: none;padding: 5px;border-radius: 3px;" href="*|RESETPASSWORD_LINK|*">
                            Generar nueva contraseña
                        </a>
					</p>
					<p style="font-size: 12px; color:gray; text-align: center;">
                        Si no puedes dar click en el botón, copia y pega el siguiente link
					</p>
                    
					<p style="font-size: 12px; color:gray; text-align: center;">
                        *|RESETPASSWORD_LINK|*
					</p>
					
		  		</td>
			</tr>
		</tbody>
	</table>
</div>