<p class="greeting">{{greeting}} {{user}},</p>
<p class="message pre-message">{{preMessage}}</p>
<a class="button-link" href="{{linkUrl}}">{{linkName}}</a>
<p class="message pos-message">{{posMessage}}</p>
