<p class="greeting">{{greeting}} {{user}},</p>
<p class="message">{{message}}</p>
<label class="label-key">{{key1}}</label><span class="value-text">{{value1}}</span>
<label class="label-key">{{key2}}</label><span class="value-text">{{value2}}</span>
<label class="label-key">{{key3}}</label><span class="value-text">{{value3}}</span>
<label class="label-key">{{key4}}</label><span class="value-text">{{value4}}</span>
<label class="label-key">{{key5}}</label><span class="value-text">{{value5}}</span>